In [151]:
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

# from bs4 import BeautifulSoup
#  http://beautiful-soup-4.readthedocs.io/en/latest/    # for more advanced web scraping  

import lxml
import html5lib
import csv

import json # library to handle JSON files

import requests # library to handle requests

import time  # used to record time to run functions

from collections import Counter

print('Libraries imported.')

Libraries imported.

In [152]:
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../credentials/')

import config

## Import neighborhoods data

start with Toronto

In [153]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_to_neighborhoods = pd.read_html(url, attrs={"class": "wikitable"})[0]   # 0 is for the 1st table in this particular page
df_to_neighborhoods.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

clean the Toronto dataframe

In [154]:
df_to_neighborhoods['Borough']=df_to_neighborhoods['Borough'].replace('Not assigned',np.NaN)   # replace 'Not assigned' with NaN 
df_to_neighborhoods=df_to_neighborhoods.dropna() 
df_to_neighborhoods.reset_index(drop=True, inplace=True)
print("Dropped 'Not assigned' values in the 'Postal Code' column!")

# pd.set_option('display.max_rows', None)     # show all data in dataframe

# check for mispelled 'Not assigned' values in 'Borough' which has not been replaced
print("Any mispelles not assigned values in 'Borough'?  " + str(df_to_neighborhoods['Borough'][df_to_neighborhoods['Borough'].str.lower().str.contains('t as', regex=False)]) + ", " + str(df_to_neighborhoods['Borough'][df_to_neighborhoods['Borough'].str.lower().str.contains('not ', regex=False)]) )   

# find non unique (duplicate) postal codes 
dupli= "no"
for d in df_to_neighborhoods['Postal Code'].duplicated().unique():
    if d == True:
        dupli = ""
print("There is " + dupli+" duplicate 'Postal Code' rows!")


# find neighborhoods with 'Not assigned' values
assigned="Cannot find any"
for a in df_to_neighborhoods['Neighbourhood'].isin(['Not assigned']):
    if a == True:
        assigned="Found"
print(assigned+" 'Not assigned' values in the 'Neighbourhood' column!")

df_to_neighborhoods.head()

Dropped 'Not assigned' values in the 'Postal Code' column!
Any mispelles not assigned values in 'Borough'?  Series([], Name: Borough, dtype: object), Series([], Name: Borough, dtype: object)
There is no duplicate 'Postal Code' rows!
Cannot find any 'Not assigned' values in the 'Neighbourhood' column!

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [155]:
df_to_neighborhoods.shape

(103, 3)

### Add location data of the neighborhoods in Toronto

Google Maps Geocoding API started to cost therefore geocoder is used, however it is a bit unreliable it seems, thus we need to download an .CSV file with data of the coordinates

In [156]:
df_to_coordinates=pd.read_csv('../datafiles/Geospatial_Coordinates.csv')
df_to_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [157]:
import geocoder # import geocoder
import geopy
from geopy.geocoders import Nominatim

In [158]:
# Coordinate arrays
lat_to_list=np.array([])
long_to_list=np.array([])

for i, pcode in enumerate(df_to_neighborhoods['Postal Code']):
    # print(i, pcode)
    # initialize your variable to None
    lat_coords =None
    lng_coords =None
    

    locator = Nominatim(user_agent="myGeocoder")
    count = 0
    # loop until you get the coordinates
    while(lng_coords is None):
        location = locator.geocode('{}, Toronto, Ontario'.format(pcode))
        try:
            lat_coords = location.latitude
            lng_coords = location.longitude
            # print("Coordinates: "+ str(lat_coords) + ", "+str(lng_coords) )
        except:
            lat_coords =None
            lng_coords =None

        if count == 3:  # the limit
            # print(" Error 'Location' not found in Geocode! Switching to CSV file")
            lat_coords = df_to_coordinates.loc[ df_to_coordinates['Postal Code'] == pcode ]['Latitude'].to_list()[0]
            lng_coords = df_to_coordinates.loc[ df_to_coordinates['Postal Code'] == pcode ]['Longitude'].to_list()[0]
            # print("\nCoordinates: "+ str(lat_coords) + ", "+str(lng_coords) )
        # if count == 3:
        #     print("Error count = 3")
        #     break

        count = count + 1

    lat_to_list= np.append(lat_to_list, lat_coords)
    long_to_list= np.append(long_to_list, lng_coords)

In [148]:
# print(lat_to_list.shape, long_to_list.shape)
# lat_to_list

In [159]:
df_to_neighborhoods["Latitude"]=lat_to_list
df_to_neighborhoods["Longitude"]=long_to_list
df_to_neighborhoods.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.653482,-79.383935
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.653482,-79.383935

In [161]:
df_to_neighborhoods.shape

(103, 5)

### Now adding weather data of the city New York

1. we take a look at city level temp data

2. we use openweathermap api to get last 5 days daily temperature and the most frequent weather to compare. 
   An average of the neighborhoods temperature and the most common weathers would have been preferred.

In [147]:
url = 'https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature'
df_city_weather_eu = pd.read_html(url, attrs={"class": "wikitable"})[2]   # 0 is for the 1st table in this particular page
df_city_weather_na = pd.read_html(url, attrs={"class": "wikitable"})[3]
df_city_weather = pd.concat([df_city_weather_eu, df_city_weather_na])
# df_city_weather.head()

Clean the data

In [146]:
# remove the farenheit temperature values
weather_months = df_city_weather.columns.drop(['Country','City','Ref.']) # list of months

for month in  weather_months:
    df_city_weather[str(month)] = df_city_weather[str(month)].str.replace(r"\(.*\)","") # Remove the parenthesis + the within

# drop the ref column
df_city_weather = df_city_weather.drop(['Ref.'], axis=1) 

# the cities average temperatures in celsius
# df_city_weather.head()

# cities of interest
df_city_weather[df_city_weather["City"].str.lower().str.contains("stock|new york|toro")]
# pd.set_option('display.max_columns', None)

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
60,Sweden,Stockholm,−2.8,−3.0,0.1,4.6,10.7,15.6,17.2,16.2,11.9,7.5,2.6,−1.0,6.6
16,Canada,Toronto,−3.7,−2.6,1.4,7.9,14.1,19.4,22.3,21.5,17.2,10.7,4.9,−0.5,9.4
77,United States,New York City,0.6,2.1,6.1,11.9,17.1,22.1,24.9,24.3,20.2,14.1,8.9,3.3,12.9

### use another data source 
the the used wikipedia page since a city level is not detailed enough.

In [201]:
openweathermap_api_key = config.openweathermap_api_key
lat       = 43.648198
lon       = -79.379817

In [202]:
url = "https://api.openweathermap.org/data/2.5/onecall?lat={}&lon={}&exclude={}&appid={}".format(lat, lon, "current,minutely,hourly,alerts", openweathermap_api_key)

In [203]:
results = requests.get(url).json()

In [204]:
results.keys()
# results['current']['temp']
# results['daily'][0].keys()
# results['daily'][0]['weather'][0]['main']
# results['daily'][0]['dt']
# results['daily'][0]['temp']['day']

dict_keys(['lat', 'lon', 'timezone', 'timezone_offset', 'daily'])

In [279]:
weather_yesterday=[]
for i,a in enumerate(results['daily']):
    # print(i)
    # print(str(round( results['daily'][i]['temp']['day'] -273, 2)) +" C.  "+ str(results['daily'][i]['weather'][0]['main'])+ "  " +str( time.strftime("%a, %d %b %Y %H:%M:%S +0000", time.localtime(results['daily'][0]['dt'])) ) )
    weather_yesterday.append([round( results['daily'][i]['temp']['day'] -273.15, 2), results['daily'][i]['weather'][0]['main'], time.strftime("%a, %d %b %Y %H:%M:%S +0000", time.localtime(results['daily'][0]['dt'])) ])

df_weather_yesterday=pd.DataFrame(weather_yesterday, columns=['temp','weather','date'])
print("Mean temp: ",df_weather_yesterday['temp'].mean())
# print("weather: ",Counter(df_weather_yesterday['weather']))
print("most frequent weather: ", df_weather_yesterday['weather'].value_counts()[:2].index[1])

df_weather_yesterday.head()

Mean temp:  11.15375
most frequent weather:  Clear

    temp weather                             date
0   8.39    Rain  Sun, 01 Nov 2020 18:00:00 +0000
1   4.70  Clouds  Sun, 01 Nov 2020 18:00:00 +0000
2   3.78  Clouds  Sun, 01 Nov 2020 18:00:00 +0000
3  13.29   Clear  Sun, 01 Nov 2020 18:00:00 +0000
4  14.02  Clouds  Sun, 01 Nov 2020 18:00:00 +0000

include data in df

In [213]:
weather_mean_temp=np.array([])
weather_most_freq_weather=np.array([])
weather_2nd_most_freq_weather=np.array([])

# get coordinates for all neighborhoods
for lat,lon in df_to_neighborhoods[['Latitude', 'Longitude']].itertuples(index=False):

    # Get data from api, with coordinates
    url = "https://api.openweathermap.org/data/2.5/onecall?lat={}&lon={}&exclude={}&appid={}".format(lat, lon, "current,minutely,hourly,alerts", openweathermap_api_key)
    weather_data = requests.get(url).json()
    
    # there is a constraint that MAX 60 api-calls per minutes can be made
    time.sleep(2)
    
    # get weather data for last 5 days and get mean ans most freq
    weather_last_5=[]
    for i in range(0,len(weather_data['daily'])):
        # print(weather_data['daily'][i]['temp']['day'])
        # clean and add data in dataframe
        weather_last_5.append([ round( weather_data['daily'][i]['temp']['day'] -273.15, 2),  weather_data['daily'][i]['weather'][0]['main'] ])
    df_weather_last_5=pd.DataFrame(weather_last_5, columns=['temp','weather'])
    
    # calculate mean temp and most frequent weather, the last 5 days
    mean_temperature = df_weather_last_5['temp'].mean()
    most_freq_weather = df_weather_last_5['weather'].value_counts()[:1].index[0]
    weather_2nd_most_freq_weather = df_weather_last_5['weather'].value_counts()[:2].index[1]
    
    weather_mean_temp = np.append(weather_mean_temp, mean_temperature)
    weather_most_freq_weather = np.append(weather_most_freq_weather, most_freq_weather)

In [215]:
print("Mean temp: ",df_weather_last_5['temp'].mean())
df_weather_last_5['temp']

Mean temp:  11.20625

0     7.29
1     4.47
2     3.83
3    13.57
4    14.26
5    14.16
6    15.87
7    16.20
Name: temp, dtype: float64

In [214]:
df_to_neighborhoods["mean_temp_last5days"]=weather_mean_temp
df_to_neighborhoods["most_freq_weather_last5days"]=weather_most_freq_weather
df_to_neighborhoods.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude,mean_temp_last5days,most_freq_weather_last5days
0,M3A,North York,Parkwoods,43.653482,-79.383935,11.06625,Clouds
1,M4A,North York,Victoria Village,43.725882,-79.315572,11.03875,Clouds
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636,11.01625,Clouds
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763,10.97875,Clouds
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.653482,-79.383935,11.06625,Clouds

In [216]:
pd.set_option('display.max_columns', None)
df_to_neighborhoods

,Postal Code,Borough,Neighbourhood,Latitude,Longitude,mean_temp_last5days,most_freq_weather_last5days
0,M3A,North York,Parkwoods,43.653482,-79.383935,11.06625,Clouds
1,M4A,North York,Victoria Village,43.725882,-79.315572,11.03875,Clouds
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636,11.01625,Clouds
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763,10.97875,Clouds
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.653482,-79.383935,11.06625,Clouds
...,...,...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944,11.25125,Clouds
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160,11.00125,Clouds
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558,10.96000,Clouds
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509,11.23625,Clouds
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999,11.20625,Clouds

## add crime index

In [232]:
df_to_crime_all=pd.read_csv('../datafiles/Robbery_2014_to_2019.csv')
df_to_crime_all.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,reportedyear,reportedmonth,reportedday,reporteddayofyear,reporteddayofweek,reportedhour,occurrenceyear,occurrencemonth,occurrenceday,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Long,Lat,ObjectId
0,-8.850277e+06,5.429886e+06,1,GO-20141289469,2014/01/06 01:08:00+00,2014/01/06 01:57:00+00,Other,1610,200,Robbery - Mugging,2014,January,6,6,Monday,1,2014.0,January,6.0,6.0,Monday,1,Robbery,D31,27,York University Heights (27),-79.503388,43.769791,1
1,-8.827688e+06,5.435919e+06,4,GO-20141331950,2014/01/12 20:58:00+00,2014/01/12 20:58:00+00,Other,1610,100,Robbery With Weapon,2014,January,12,12,Sunday,20,2014.0,January,12.0,12.0,Sunday,20,Robbery,D42,130,Milliken (130),-79.300468,43.808918,2
2,-8.827688e+06,5.435919e+06,5,GO-20141331950,2014/01/12 20:58:00+00,2014/01/12 20:58:00+00,Other,1610,100,Robbery With Weapon,2014,January,12,12,Sunday,20,2014.0,January,12.0,12.0,Sunday,20,Robbery,D42,130,Milliken (130),-79.300468,43.808918,3
3,-8.836777e+06,5.412838e+06,9,GO-20141332202,2014/01/12 22:00:00+00,2014/01/12 22:00:00+00,Outside,1610,200,Robbery - Mugging,2014,January,12,12,Sunday,22,2014.0,January,12.0,12.0,Sunday,22,Robbery,D51,76,Bay Street Corridor (76),-79.382118,43.659100,4
4,-8.847506e+06,5.423442e+06,11,GO-20141335270,2014/01/13 11:56:00+00,2014/01/13 11:56:00+00,Commercial,1610,200,Robbery - Mugging,2014,January,13,13,Monday,11,2014.0,January,13.0,13.0,Monday,11,Robbery,D31,26,Downsview-Roding-CFB (26),-79.478500,43.727978,5

In [236]:
df_to_crime_2019 = df_to_crime_all[ df_to_crime_all['reportedyear']==2019 ]
print(df_to_crime_2019.shape)
df_to_crime_2019.reset_index(inplace=True)
df_to_crime_2019.head()

(3417, 29)

,index,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,reportedyear,reportedmonth,reportedday,reporteddayofyear,reporteddayofweek,reportedhour,occurrenceyear,occurrencemonth,occurrenceday,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Long,Lat,ObjectId
0,14002,-8.847359e+06,5.417543e+06,132094,GO-20191084412,2019/06/11 17:30:00+00,2019/06/12 15:00:00+00,Outside,1610,200,Robbery - Mugging,2019,June,12,163,Wednesday,15,2019.0,June,11.0,162.0,Tuesday,17,Robbery,D12,112,Beechborough-Greenbrook (112),-79.477181,43.689671,14003
1,14012,-8.844723e+06,5.418360e+06,132139,GO-2019224056,2019/02/04 20:40:00+00,2019/02/04 20:53:00+00,Commercial,1610,210,Robbery - Business,2019,February,4,35,Monday,20,2019.0,February,4.0,35.0,Monday,20,Robbery,D13,108,Briar Hill-Belgravia (108),-79.453499,43.694981,14013
2,14016,-8.829785e+06,5.414963e+06,132158,GO-2019283112,2019/02/14 08:45:00+00,2019/02/14 12:09:00+00,Commercial,1610,210,Robbery - Business,2019,February,14,45,Thursday,12,2019.0,February,14.0,45.0,Thursday,8,Robbery,D55,64,Woodbine Corridor (64),-79.319305,43.672909,14017
3,14018,-8.823933e+06,5.421483e+06,132168,GO-2019918984,2019/05/20 10:30:00+00,2019/05/20 12:51:00+00,Outside,1610,220,Robbery - Other,2019,May,20,140,Monday,12,2019.0,May,20.0,140.0,Monday,10,Robbery,D41,120,Clairlea-Birchmount (120),-79.266739,43.715260,14019
4,14020,-8.853407e+06,5.421303e+06,131641,GO-2019378335,2019/02/28 23:24:00+00,2019/02/28 23:24:00+00,Outside,1610,220,Robbery - Other,2019,February,28,59,Thursday,23,2019.0,February,28.0,59.0,Thursday,23,Robbery,D12,23,Pelmo Park-Humberlea (23),-79.531509,43.714092,14021

In [439]:
# lat=43.653482
# lon=-79.383935	
# df_to_crime_coord_2019=df_to_crime_2019[['Long', 'Lat', 'ObjectId']]
# lat_array=df_to_crime_coord_2019[['Lat']].to_numpy()
# long_array=df_to_crime_coord_2019[[ 'Long']].to_numpy()
# lat_dist=np.absolute(lat-lat_array)*111139  # convert distance from Degrees to Meters
# long_dist=np.absolute(lon-long_array)*111139
# distance= np.sqrt( np.power(lat_dist, 2) + np.power(long_dist, 2) )
# df_dist=pd.DataFrame(distance, columns=['distance'])
# df_dist["closeby"] = df_dist['distance'] <= 500
# number_crimes=df_dist["closeby"].value_counts()[True]
# number_crimes

50

In [280]:
crime_closeby=np.array([])

# get coordinates for all neighborhoods
for lat,lon in df_to_neighborhoods[['Latitude', 'Longitude']].itertuples(index=False):

    # numpy arrays for coordinates to do matrix calculations
    lat_array=df_to_crime_2019[['Lat']].to_numpy()
    long_array=df_to_crime_2019[[ 'Long']].to_numpy()
    
    lat_dist=np.absolute(lat-lat_array)*111139  # convert distance from Degrees to Meters
    long_dist=np.absolute(lon-long_array)*111139
    distance= np.sqrt( np.power(lat_dist, 2) + np.power(long_dist, 2) ) # pythagoras theorem for distance
    
    df_dist=pd.DataFrame(distance, columns=['distance'])

    df_dist["closeby"] = df_dist['distance'] <= 500    # a crime nearby is within 500 meters
    try:
        number_crimes=df_dist["closeby"].value_counts()[True]
    except:
        # print(df_dist["closeby"].value_counts(), )
        number_crimes=0
    
    crime_closeby= np.append(crime_closeby, number_crimes)

In [281]:
df_to_neighborhoods["number_crimes_recent_nearby"]=crime_closeby
df_to_neighborhoods.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude,mean_temp_last5days,most_freq_weather_last5days,number_crimes_recent_nearby
0,M3A,North York,Parkwoods,43.653482,-79.383935,11.06625,Clouds,50.0
1,M4A,North York,Victoria Village,43.725882,-79.315572,11.03875,Clouds,1.0
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636,11.01625,Clouds,6.0
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763,10.97875,Clouds,2.0
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.653482,-79.383935,11.06625,Clouds,50.0

In [417]:
start_time = time.time()
wrong_amount_of_element=[]
number_of_rows=16

count=0
airbnb_calend_list=[]
with open('../datafiles/airbnb_listings_sum_toronto.csv', newline='',encoding = 'cp850') as csvfile:
    csv_reader_data = csv.reader(csvfile)
    for row in csv_reader_data: 
        next_row = []

        if count >=1 and np.shape(row)[0]==1: # if count is not header and has "" around the all elements

            row[0]=row[0].replace("\n","")
            redone_csv_reading = csv.reader(row)
            for new_row in redone_csv_reading:

                if np.shape(new_row)[0]==number_of_rows:
                    next_row = new_row

                else:
                    wrong_amount_of_element.append(np.shape(new_row)[0])

        elif count >=1 and np.shape(row)[0]==number_of_rows:
            next_row = row

        elif count==0:

            headers_row = row

        if count >=1:     
            airbnb_calend_list.append(next_row)

        count = count + 1
        if count == 20000:
            break
# print(airbnb_calend_list)
# print(np.shape(airbnb_calend_list),np.shape(headers_row))
df_airbnb_listing_toronto = pd.DataFrame(data=airbnb_calend_list, columns= headers_row)
# print(df_airbnb_listing_toronto.head())

print("Number of elements in a data row and their count: ",Counter(wrong_amount_of_element))
print("--- %s seconds ---" % (time.time() - start_time))

Number of elements in a data row and their count:  Counter({2: 62, 15: 58, 1: 6})
--- 0.30206727981567383 seconds ---

In [324]:
# df_airbnb_listing_toronto.head()

Clean dataframe

In [418]:
# change currency from canadian dollar to Euro
df_airbnb_listing_toronto['price']=pd.to_numeric( df_airbnb_listing_toronto['price'], downcast="float")*0.64

# remove format errors
df_airbnb_listing_toronto['availability_365;;;']=df_airbnb_listing_toronto['availability_365;;;'].str.replace(';;;', '', regex=True)
df_airbnb_listing_toronto.rename(columns={'availability_365;;;': 'availability_365'}, inplace=True)

# remove nan in coordinate data
df_airbnb_listing_toronto.dropna(subset=['latitude', 'longitude'],inplace=True)


df_airbnb_listing_toronto.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1419,Beautiful home in amazing area!,1565,Alexandra,,Little Portugal,43.64617,-79.42451,Entire home/apt,300.160004,4,7,2017-12-04,0.11,1,0
1,8077,Downtown Harbourfront Private Room,22795,Kathie & Larry,,Waterfront Communities-The Island,43.64105,-79.37628,Private room,63.359997,180,169,2013-08-27,1.25,2,365
2,12604,Seaton Village Parlour Bedroom,48239,Rona,,Annex,43.66724,-79.41598,Private room,42.239998,1,0,,,1,0
3,23691,Queen Bedroom close to downtown,93825,Yohan & Sarah,,Briar Hill-Belgravia,43.69602,-79.45468,Private room,44.799999,1,217,2019-12-22,1.73,2,209
4,26654,World Class downtown @CN Tower Theatre MTCC ga...,113345,Adela,,Waterfront Communities-The Island,43.6453,-79.3894,Entire home/apt,86.400002,21,40,2020-03-20,0.34,5,216

In [460]:
# df_airbnb_listing_toronto.groupby(['latitude', 'longitude']).size().unique
# df_airbnb_listing_toronto['latitude'].isnull().sum()
# df_airbnb_listing_toronto['latitude'].isnull().values.any()
# df_airbnb_listing_toronto.dropna(subset=['latitude'],inplace=True)
# df_airbnb_listing_toronto['latitude'].isnull().sum()
# df_airbnb_listing_toronto['latitude'].astype('float32')
# df_airbnb_listing_toronto['longitude'].astype('float32')

# df_airbnb_listing_toronto.dtypes

# df_airbnb_listing_toronto['longitude'].isnull().sum()

In [486]:
lat=43.653482
lon=-79.383935
print(df_airbnb_listing_toronto.shape )

lat_array=df_airbnb_listing_toronto[['latitude']].to_numpy().astype('float32')
long_array=df_airbnb_listing_toronto[[ 'longitude']].to_numpy().astype('float32')

lat_dist=np.absolute(lat-lat_array)*111139  # convert distance from Degrees to Meters
long_dist=np.absolute(lon-long_array)*111139
distance= np.sqrt( np.power(lat_dist, 2) + np.power(long_dist, 2) )
df_airbnb_listing_toronto['distance']=pd.DataFrame(distance, columns=['distance'])

# nearby 500 meters
df_airbnb_listing_toronto_nearby=df_airbnb_listing_toronto[df_airbnb_listing_toronto['distance'] <= 500]

# to get a better estimate of the house price level the private rooms will only be compared, since the price spread is assumed much larger for 
private     = df_airbnb_listing_toronto_nearby[df_airbnb_listing_toronto_nearby['room_type']=='Private room']['price'].mean()
Entire_home = df_airbnb_listing_toronto_nearby[df_airbnb_listing_toronto_nearby['room_type']=='Entire home/apt']['price'].mean()
# number=df_dist["closeby"].value_counts()[True]
# number_crimes
# lat_array
print(private, Entire_home)

(19280, 17)
46.06316 115.50477

In [483]:
Counter(df_airbnb_listing_toronto_nearby['room_type'])

Counter({'Entire home/apt': 168, 'Private room': 76, 'Shared room': 3})

In [488]:
airbnb_price_private_room=np.array([])
airbnb_price_entire_home=np.array([])


# get coordinates for all neighborhoods
for lat,lon in df_to_neighborhoods[['Latitude', 'Longitude']].itertuples(index=False):

    # numpy arrays for coordinates to do matrix calculations
    lat_array=df_airbnb_listing_toronto[['latitude']].to_numpy().astype('float32')
    long_array=df_airbnb_listing_toronto[[ 'longitude']].to_numpy().astype('float32')

    lat_dist=np.absolute(lat-lat_array)*111139  # convert distance from Degrees to Meters
    long_dist=np.absolute(lon-long_array)*111139
    distance= np.sqrt( np.power(lat_dist, 2) + np.power(long_dist, 2) ) # pythagoras theorem for distance
    
    df_airbnb_listing_toronto['distance']=pd.DataFrame(distance, columns=['distance'])

    # nearby 500 meters
    df_airbnb_listing_toronto_nearby=df_airbnb_listing_toronto[df_airbnb_listing_toronto['distance'] <= 500]
    
    private     = df_airbnb_listing_toronto_nearby[df_airbnb_listing_toronto_nearby['room_type']=='Private room']['price'].mean()
    Entire_home = df_airbnb_listing_toronto_nearby[df_airbnb_listing_toronto_nearby['room_type']=='Entire home/apt']['price'].mean()

    airbnb_price_private_room= np.append(airbnb_price_private_room, private)    
    airbnb_price_entire_home= np.append(airbnb_price_entire_home, Entire_home)

In [489]:
df_to_neighborhoods["airbnb_mean_price_private_room"]=airbnb_price_private_room
df_to_neighborhoods["airbnb_mean_price_entire_home"]=airbnb_price_entire_home
df_to_neighborhoods.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude,mean_temp_last5days,most_freq_weather_last5days,number_crimes_recent_nearby,airbnb_mean_price_private_room,airbnb_mean_price_entire_home
0,M3A,North York,Parkwoods,43.653482,-79.383935,11.06625,Clouds,50.0,46.063160,115.504768
1,M4A,North York,Victoria Village,43.725882,-79.315572,11.03875,Clouds,1.0,37.599998,113.439995
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636,11.01625,Clouds,6.0,56.727272,99.346870
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763,10.97875,Clouds,2.0,NaN,NaN
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.653482,-79.383935,11.06625,Clouds,50.0,46.063160,115.504768

In [490]:
df_to_neighborhoods['airbnb_mean_price_private_room'].isnull().sum()

17

Add

In [289]:
url = 'https://www.numbeo.com/crime/rankings.jsp'
df_city_weather = pd.read_html(url)[1]   # 0 is for the 1st table in this particular page
# df_city_weather.head()
df_city_weather.drop(['Rank'], axis=1, inplace=True) # drop rank dol since only nan
df_city_weather['Rank'] = df_city_weather.index # add index as rank, since they are ordered by rank
# df_city_weather['City'].str.split(',', expand=True)[2].unique()
df_city_weather=pd.concat([df_city_weather, df_city_weather['City'].str.split(', ', expand=True)], axis=1)
# df_city_weather
# ~pd.notna(df_city_weather[2])

In [290]:
# fixa 
# print(Counter(~pd.notna(df_city_weather[2])))
# print(Counter(df_city_weather[2]))
# print(Counter(df_city_weather[1]))
# df_city_weather[pd.notna(df_city_weather[2])][1] =  df_city_weather[pd.notna(df_city_weather[2])][1].astype(str) + ",  "
# df_city_weather[~pd.notna(df_city_weather[2])][2].str.replace(None,"a")
df_city_weather.loc[pd.notna(df_city_weather[2]), 2]=", "+df_city_weather.loc[pd.notna(df_city_weather[2]), 2].astype(str)
df_city_weather[2].fillna("",inplace=True)
# df_city_weather.head(20)
# # df_city_weather[2]

df_city_weather['Country']=df_city_weather[1].str.cat(df_city_weather[2])
# # # # df_city_weather[df_city_weather[1]!=""]
# # # # df_city_weather[df_city_weather[1]==None]
# # # df_city_weather[pd.notna(df_city_weather[2])][1] 

df_city_weather.drop([1,2,"City"],axis=1, inplace=True)
df_city_weather.rename(columns={0:'City'},inplace=True)
# print(df_city_weather.head(20))

In [376]:
# print(df_city_weather[[0,1,2, 'Country']].head(20))
# print(Counter(df_city_weather['Country']))
# print(df_city_weather.head(20))

In [287]:
# A=['aa','adsadaf', 'fafwfe','de', 'Ecuador']
# eb=pd.DataFrame({'col':A})
# eb['col2'] = 'd ' + eb['col'].astype(str)
# eb

In [283]:
start_time = time.time()
wrong_amount_of_element=[]
count=0
airbnb_calend_list=[]

with open('../datafiles/airbnb_calendar_stockholm.csv', newline='',encoding = 'cp850') as csvfile:
    csv_reader_data = csv.reader(csvfile)
    for row in csv_reader_data: 
        next_row = []
        if count >=1 and np.shape(row)[0]==1: # if count is not header and has "" around the all elements
            # print(row)
            # print(np.shape(row))

            redone_csv_reading = csv.reader(row)
            for new_row in redone_csv_reading:
                # print([new_row])
                # print(np.shape(new_row))
                if np.shape(new_row)[0]==7:
                    next_row = new_row
                    # print("1")
                    # print(new_row)
                else:
                    wrong_amount_of_element.append(np.shape(new_row)[0])
                    # print("\nError: not shape of 'new_row' ==7 ")
                    # print(new_row)

            # print("\n")
        elif count >=1 and np.shape(row)[0]==7:
            next_row = row
            # print("2")
            # print([next_row])
        elif count==0:
            # print(row)
            # print(np.shape(row))
            headers_row = row

        # else:
            # print("\nError: not shape of 'row' == 1 or 7")
            # print(row)
            # next_row = np.empty((1,7,))
            # next_row[:] = np.nan
            # # next_row=np.nan
            # print("")


        if count >=1:     
            airbnb_calend_list.append(next_row)

        count = count + 1
        if count == 15000000:
            break
# print(airbnb_calend_list)
print(np.shape(airbnb_calend_list),np.shape(headers_row))
df_airbnb_calend_stockholm = pd.DataFrame(data=airbnb_calend_list, columns= headers_row)
print(df_airbnb_calend_stockholm)
# df_airbnb_calend_stockholm.to_csv('../datafiles/airbnb_calendar_stockholm_new.csv',index=False)
print("Number of elements in row and there count: ",Counter(wrong_amount_of_element))
print("--- %s seconds ---" % (time.time() - start_time))

(1048575, 7) (7,)
        listing_id        date available      price adjusted_price  \
0           565912  2020-06-27         t  $2,461.00      $2,461.00
1           145320  2020-06-27         f  $1,424.00      $1,424.00
2           145320  2020-06-28         f  $1,424.00      $1,424.00
3           145320  2020-06-29         f  $1,424.00      $1,424.00
4           145320  2020-06-30         f  $1,424.00      $1,424.00
...            ...         ...       ...        ...            ...
1048570   15773429  2020-11-24         t    $250.00        $250.00
1048571   15773429  2020-11-25         t    $250.00        $250.00
1048572   15773429  2020-11-26         t    $250.00        $250.00
1048573   15773429  2020-11-27         t    $250.00        $250.00
1048574   15773429  2020-11-28         t    $250.00        $250.00

        minimum_nights maximum_nights
0                    4             20
1                    3           1125
2                    3           1125
3                    3           1125
4                    3           1125
...                ...            ...
1048570            120           1125
1048571            120           1125
1048572            120           1125
1048573            120           1125
1048574            120           1125

[1048575 rows x 7 columns]
Number of elements in row and there count:  Counter()
--- 12.58511471748352 seconds ---

In [284]:
df_airbnb_calend_stockholm.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,565912,2020-06-27,t,"$2,461.00","$2,461.00",4,20
1,145320,2020-06-27,f,"$1,424.00","$1,424.00",3,1125
2,145320,2020-06-28,f,"$1,424.00","$1,424.00",3,1125
3,145320,2020-06-29,f,"$1,424.00","$1,424.00",3,1125
4,145320,2020-06-30,f,"$1,424.00","$1,424.00",3,1125

In [222]:
start_time = time.time()
wrong_amount_of_element=[]
number_of_rows=16

count=0
airbnb_calend_list=[]
with open('../datafiles/airbnb_listings_sum_stockholm.csv', newline='',encoding = 'cp850') as csvfile:
    csv_reader_data = csv.reader(csvfile)
    for row in csv_reader_data: 
        next_row = []

        if count >=1 and np.shape(row)[0]==1: # if count is not header and has "" around the all elements
            # print(row)
            # print(np.shape(row))
            row[0]=row[0].replace("\n","")
            redone_csv_reading = csv.reader(row)
            for new_row in redone_csv_reading:
                # print([new_row])
                # print(np.shape(new_row))
                if np.shape(new_row)[0]==number_of_rows:
                    next_row = new_row
                    # print("1")
                    # print(new_row)
                else:
                    wrong_amount_of_element.append(np.shape(new_row)[0])
                    # print("\nError: not shape of 'new_row' ==7 ")
                    # print(new_row)
                    # print(np.shape(new_row)[0])

            # print("\n")
        elif count >=1 and np.shape(row)[0]==number_of_rows:
            next_row = row
            # print("2")
            # print([next_row])
        elif count==0:
            # print(row)
            # print(np.shape(row))
            headers_row = row

        # else:
            # print("\nError: not shape of 'row' == 1 or 7")
            # print(row)
            # next_row = np.empty((1,7,))
            # next_row[:] = np.nan
            # # next_row=np.nan
            # print("")


        if count >=1:     
            airbnb_calend_list.append(next_row)

        count = count + 1
        if count == 10000:
            break
# print(airbnb_calend_list)
# print(np.shape(airbnb_calend_list),np.shape(headers_row))
df_airbnb_listing_stockholm = pd.DataFrame(data=airbnb_calend_list, columns= headers_row)
print(df_airbnb_listing_stockholm)
# df_airbnb_calend_stockholm.to_csv('../datafiles/airbnb_calendar_stockholm_new.csv',index=False)
print("Number of elements in row and there count: ",Counter(wrong_amount_of_element))
print("--- %s seconds ---" % (time.time() - start_time))

            id                                               name    host_id  \
0       145320             In the middle of it all - with a view!     703851
1         None                                               None       None
2       155685                         Hornstull with water view!     748592
3       164448        Double room in central Stockholm with Wi-Fi     784312
4       170651                 Petit Charm Rooftop next to heaven     814021
...        ...                                                ...        ...
7651  43936345        Sofa in living room in the shared apartment   31129430
7652  43936494               Bo bekv├ñmt 17 Min fr├Ñn Sthlm City!  351810596
7653  43942253      Modern apartment close to water and the city.   49991516
7654  43942494            Gorgeous piece of heaven  in Stockholm!  137472486
7655  43955053  Spacious studio apartment at the core of Soder...   30842844

     host_name neighbourhood_group            neighbourhood  \
0          Kim                                  S├Âdermalms
1         None                None                     None
2       Robert                                  S├Âdermalms
3           Li                                  S├Âdermalms
4        Marie                                  S├Âdermalms
...        ...                 ...                      ...
7651       Dea                                  ├ûstermalms
7652  Kouroche                               Sp├Ñnga-Tensta
7653   Jessica                      H├ñgersten-Liljeholmens
7654     Kamar                                  ├ûstermalms
7655   Lei Lei                                  S├Âdermalms

                latitude         longitude        room_type price  \
0               59.31364          18.05256  Entire home/apt  1250
1                   None              None             None  None
2               59.31535          18.03277  Entire home/apt  3145
3               59.31268          18.06258     Private room   597
4               59.31568          18.03138  Entire home/apt   719
...                  ...               ...              ...   ...
7651            59.34645          18.09839     Private room   299
7652             59.4028          17.86606  Entire home/apt   392
7653            59.29974          18.00066  Entire home/apt  1997
7654            59.31807          18.16299  Entire home/apt   541
7655  59.320246000618795  18.0653378453517  Entire home/apt   653

     minimum_nights number_of_reviews last_review reviews_per_month  \
0                 3                72  2019-06-25              1.92
1              None              None        None              None
2                 4                22  2015-12-01              0.20
3                 3               322  2020-01-29              2.97
4                 4                34  2020-03-09              0.31
...             ...               ...         ...               ...
7651              1                 0
7652              1                 0
7653              2                 0
7654             14                 0
7655              1                 0

     calculated_host_listings_count availability_365;
0                                 2               24;
1                              None              None
2                                 1                0;
3                                 2              180;
4                                 1              287;
...                             ...               ...
7651                              1               83;
7652                              1              337;
7653                              1               71;
7654                              1               31;
7655                              1               39;

[7656 rows x 16 columns]
Number of elements in row and there count:  Counter({15: 15, 2: 14, 1: 4})
--- 0.14063692092895508 seconds ---

In [13]:
df_airbnb_listing_stockholm['neighbourhood'].unique()

array(['S├Âdermalms', None, 'Norrmalms', 'Kungsholmens', 'Rinkeby-Tensta',
       'Farsta', '├älvsj├Â', '├ûstermalms', 'Skarpn├ñcks',
       'Enskede-├àrsta-Vant├Ârs', 'H├ñgersten-Liljeholmens', 'Bromma',
       'Sk├ñrholmens', 'H├ñsselby-V├ñllingby', 'Sp├Ñnga-Tensta'],
      dtype=object)

In [286]:
df_airbnb_listing_stockholm.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365;
0,145320,In the middle of it all - with a view!,703851,Kim,,S├Âdermalms,59.31364,18.05256,Entire home/apt,1250,3,72,2019-06-25,1.92,2,24;
1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,155685,Hornstull with water view!,748592,Robert,,S├Âdermalms,59.31535,18.03277,Entire home/apt,3145,4,22,2015-12-01,0.20,1,0;
3,164448,Double room in central Stockholm with Wi-Fi,784312,Li,,S├Âdermalms,59.31268,18.06258,Private room,597,3,322,2020-01-29,2.97,2,180;
4,170651,Petit Charm Rooftop next to heaven,814021,Marie,,S├Âdermalms,59.31568,18.03138,Entire home/apt,719,4,34,2020-03-09,0.31,1,287;

In [14]:
# # Correctly spell the names of the neighborhoods
# df_airbnb_listing_stockholm['neighbourhood'].replace('S├Âdermalms','Södermalm', inplace=True)
# df_airbnb_listing_stockholm['neighbourhood'].replace('Norrmalms','Norrmalm', inplace=True)
# df_airbnb_listing_stockholm['neighbourhood'].replace('Kungsholmens','Kungsholmen', inplace=True)
# df_airbnb_listing_stockholm['neighbourhood'].replace('├älvsj├Â','Älvsjö', inplace=True)
# df_airbnb_listing_stockholm['neighbourhood'].replace('├ûstermalms','Östermalm', inplace=True)
# df_airbnb_listing_stockholm['neighbourhood'].replace('H├ñgersten-Liljeholmens','Hägersten-Liljeholmen', inplace=True)
# df_airbnb_listing_stockholm['neighbourhood'].replace('Sk├ñrholmens','Skärholmen', inplace=True)
# df_airbnb_listing_stockholm['neighbourhood'].replace('H├ñsselby-V├ñllingby','Hässelby-Vällingby', inplace=True)
# df_airbnb_listing_stockholm['neighbourhood'].replace('Sp├Ñnga-Tensta','Spånga-Tensta', inplace=True)

In [15]:
# df_test=df_airbnb_calend_stockholm[df_airbnb_calend_stockholm['neighbourhood']=='Södermalm']
# df_test

In [16]:
# df_test[df_test['name'].str.lower().str.contains("fantastic sofo")]

It seems like the prices are in SEK - after comparing 'price' to website price for same place

In [220]:
start_time = time.time()
wrong_amount_of_element=[]
number_of_rows=6

count=0
airbnb_calend_list=[]
with open('../datafiles/airbnb_reviews_stockholm.csv', newline='',encoding = 'cp850') as csvfile:
    csv_reader_data = csv.reader(csvfile)
    for row in csv_reader_data: 
        next_row = [] 
        # if count== 177:
        #     print(row)
        #     print(row[0])
        #     print(np.shape(row))
            # redone_csv_reading = csv.reader(row)
            # for new_row in redone_csv_reading:
            #     # print([new_row])
            #     # print(np.shape(new_row))
            #     next_row = new_row

            #     print(next_row)
        if count >=1 and np.shape(row)[0]==1: # if count is not header and has "" around the all elements
            # print(row)
            # print(np.shape(row))
            # print(row[0])
            # print(np.shape(row[0]))
            row[0]=row[0].replace("\n","")
            redone_csv_reading = csv.reader(row)
            for new_row in redone_csv_reading:
                # print(new_row)
                # print(np.shape(new_row))
                if np.shape(new_row)[0]==number_of_rows:
                    next_row = new_row
                    # print("1")
                    # print(new_row)
                else:
                    wrong_amount_of_element.append(np.shape(new_row)[0])
                    # print("\nError: not shape of 'new_row' ==7 ")
                    # print(new_row)

            # print("\n")
        elif count >=1 and np.shape(row)[0]==number_of_rows:
            next_row = row
            # print("2")
            # print([next_row])
        elif count==0:
            # print(row)
            # print(np.shape(row))
            headers_row = row

        # else:
            # print("\nError: not shape of 'row' == 1 or 7")
            # print(row)
            # next_row = np.empty((1,7,))
            # next_row[:] = np.nan
            # # next_row=np.nan
            # print("")


        if count >=1:     
            airbnb_calend_list.append(next_row)


        count = count + 1
        if count == 1000000:
            break
# print(airbnb_calend_list)
print(np.shape(airbnb_calend_list),np.shape(headers_row))
df_airbnb_review_stockholm = pd.DataFrame(data=airbnb_calend_list, columns= headers_row)
print(df_airbnb_review_stockholm)
# df_airbnb_calend_stockholm.to_csv('../datafiles/airbnb_calendar_stockholm_new.csv',index=False)
print("Number of elements in row and there count: ",Counter(wrong_amount_of_element))
print("--- %s seconds ---" % (time.time() - start_time))

(182014,) (6,)
       listing_id         id        date reviewer_id reviewer_name  \
0          145320  156423122  2017-05-30   123386382         Erwin
1          145320  170211906  2017-07-15   123091743          Anne
2          145320  172169175  2017-07-20       78004      Patricia
3          145320  176647581  2017-07-31   103178743     Charlotte
4          145320  185676021  2017-08-22     4023961     Alexander
...           ...        ...         ...         ...           ...
182009   43720290  629441507  2020-06-14   308451513            Lu
182010   43720290  631087136  2020-06-21    76954984        Shahin
182011   43724610  630964346  2020-06-21    38355251          Ines
182012   43749955  632003080  2020-06-25    92774441       Babette
182013   43840216  630977479  2020-06-21   251908973          Dala

                                      comments;;;;;;;;;;;
0       Prima plek om Stockholm te bekijken. Alles is ...
1       Cosy and clean flat in quiet neighbourhood clo...
2       The host canceled this reservation 37 days bef...
3       Kim's place was outstanding and comfortable. W...
4       great spacious apartment in a nice residential...
...                                                   ...
182009  Great place with an amazing, spacious balcony ...
182010  Amazing place, located near beautiful Hornstul...
182011  Catarina has been a kind host. The flat had ev...
182012                  Very nice appartement!;;;;;;;;;;;
182013   Okej, tog en timma tills vi fick svar;;;;;;;;;;;

[182014 rows x 6 columns]
Number of elements in row and there count:  Counter({1: 45481, 2: 4403, 3: 1553, 4: 621, 7: 557, 8: 371, 5: 329, 9: 241, 12: 188, 11: 134, 10: 131, 13: 112, 14: 87, 17: 47, 16: 46, 15: 36, 18: 29, 19: 19, 22: 15, 23: 13, 20: 11, 28: 6, 21: 6, 24: 6, 25: 5, 27: 4, 26: 4, 36: 2, 37: 1, 31: 1, 39: 1, 43: 1})
--- 3.459775447845459 seconds ---

In [221]:
df_airbnb_review_stockholm.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments;;;;;;;;;;;
0,145320,156423122,2017-05-30,123386382,Erwin,Prima plek om Stockholm te bekijken. Alles is ...
1,145320,170211906,2017-07-15,123091743,Anne,Cosy and clean flat in quiet neighbourhood clo...
2,145320,172169175,2017-07-20,78004,Patricia,The host canceled this reservation 37 days bef...
3,145320,176647581,2017-07-31,103178743,Charlotte,Kim's place was outstanding and comfortable. W...
4,145320,185676021,2017-08-22,4023961,Alexander,great spacious apartment in a nice residential...